<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Trails</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://bootswatch.com/superhero/bootstrap.min.css' />

    <ul class="nav navbar-nav navbar-left">
          <li><a href="/">Home</a></li>


        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>


</head>
  <body>
    <h2>Where are you favorite hiking trails?</h2>
    <!-- <li><a href='/signup'>Sign up</a></li>
    <li><a href='/login'>Login</a></li>
    <li><a href='/logout'>Logout</a></li> -->

    <p>Welcome to trails</p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
