<!-- Latest compiled and minified CSS -->
<link rel='stylesheet' href='https://bootswatch.com/superhero/bootstrap.min.css' />

<!-- Optional theme -->

<h1>Login</h1>

<ul class="nav navbar-nav navbar-left">



    </ul>
    <ul class="nav navbar-nav navbar-right">

          <li><a href="/signup">Signup</a></li>
        <li><a href="/logout">Logout</a></li>

    </ul>




<form action='/login' method= 'POST'>
<input type='text' name='email' placeholder='email'>
<input type='password' name='password' placeholder='password'>
<button>Login</button>
</form>

<!-- <li><a href='/signup'>Sign up</a></li>
<li><a href='/login'>Login</a></li>
<li><a href='/logout'>Logout</a></li> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
