<h1>Login</h1>


<form action='/login' method= 'POST'>
<input type='text' name='username' placeholder='username'>
<input type='text' name='password' placeholder='password'>
<button>Login</button>
</form>

<li><a>h ref='/register'>Sign up!</a></li>
<li><a>h ref='/login'>Login</a></li>
<li><a>h ref='/logout'>Logout!</a></li>
