<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sign up Form</h1>
<form action= "/register" method= "POST">
    <input type= "text" name= "username" placeholder= "username">
    <input type= "password" name="password" placeholder= "password">
    <button>Submit</button>
</form>
<li><a>h ref='/register'>Sign up!</a></li>
<li><a>h ref='/login'>Login</a></li>
<li><a>h ref='/logout'>Logout!</a></li>
  </body>
</html>
