

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" lang="en">
    <title>Map Trails</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h3>Place your marker on the map</h3>
    <div id='outerMap'>
      <div id="map"></div>
    </div>


    <form class="trail-form" action="/trails" method="post">
      <% include _form %>
      <a href="/trails" class="btn btn-primary">Back</a>
      <button type="submit" class="btn btn-success" onclick="addItem()">Save</button>
      <input type="button" id="add" value="Add New">
  <!-- <input type="submit" id="btnAdd" value="Create" onclick="addItem()"> -->
  <!-- <div class="btn" onClick="addItem()"> Add Eelement </div> -->
    </form>
  </main>

  <ul id="list_item">
    <li id=""></li>

  </ul>
  <footer>
    <% include ../partials/footer %>
  </footer>
</main>
  <script>

  document.getElementById("add").onclick  = function() {

      var node = document.createElement("Li");
      var text = document.getElementById("list_item").value;
      var textnode=document.createTextNode(text);
      node.appendChild(textnode);
      document.getElementById("list_item").appendChild(node);
  }


      function initMap() {
        var uluru = {lat: 33.7490, lng: -84.3880};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG3tP6iZ6Jy-rqgHBKXJ_sXcQbeO4qjJU&callback=initMap">
    </script>
  </body>
</html>
