
<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://bootswatch.com/superhero/bootstrap.min.css' />

    <ul class="nav navbar-nav navbar-left">

    </ul>
        <ul class="nav navbar-nav navbar-right">

            <!-- <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/logout">Logout</a></li> -->
        </ul>
  </head>
  <body>
    <h1>Sign up</h1>
 <form action='/signup' method="post">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>
 <li><a href='/signup'>Sign up</a></li>
<li><a href='/login'>Login</a></li>
<li><a href='/logout'>Logout</a></li>
  </body>
</html>
