<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is the home page!</h1>
    <li><a>h ref='/register'>Sign up!</a></li>
    <li><a>h ref='/login'>Login</a></li>
    <li><a>h ref='/logout'>Logout!</a></li>

    <p>Welcome to trails</p>
  </body>
</html>
