body {
  background-image: url("hikingpic.jpg");
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
button {
  color: green;
}
#outerMap {
  position: relative;
  margin: 0 auto;
  width: 60%;
  min-height: 500px;
  text-align:center;
}

#map {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display:block;
}
